version: '3.1'

services:
  postgres:
    image: postgres:15
    container_name: my_postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: 123
      POSTGRES_USER: nina
      POSTGRES_DB: dishes
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata:
